/* Add these styles to your existing CSS file or create a new one */
/* 
.container {
    margin: 20px auto;
    max-width: 800px;
  }
   */
  /* .card {
    border: 2px solid darkviolet;
    margin-bottom: 20px;
  }
  
  .card-header {
    background-color: violet;
  } */
  /* .card {
    border: 2px solid darkviolet;
    margin-bottom: 20px;
  } */
  /* .card-body {
    padding: 20px;
  } */
  .modal-title {
    font-size: 1.2em;
  }
  
 
  
  